<div>
  <%= image_tag "road.jpg" , :id => "van-img"%>
</div>

<div class="container">
  <div class="col-md-4 flag-div text-center">
    <%= image_tag "uk.jpg", :class => "flags" %>
  </div>
  <div class="col-md-4 flag-div text-center">
    <%= image_tag "spain.jpg", :class => "flags" %>
  </div>
  <div class="col-md-4 flag-div text-center">
    <%= image_tag "france.jpg", :class => "flags" %>
  </div>
</div>

<div class="middle-banner">
  <p>Caring & Affordable transportation service where the customer's needs matter</p>
</div>

<div class="container">
  <div class="col-md-4">
    <div class="info-div">
      <p>Collection and Delivery of any goods throughout the UK, Spain and France. From individual items
        to full house-moves, we have the flexibility to meet your requirements</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-div">
      <p>We are available for large contracts or one off deliveries. Our experienced driving and support
      team will ensure that a personal service will be provided whatever the cargo </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="info-div">
      <p>Internet orders can be sent to our secure UK depot to be shipped when it's convenient for you, for example,
      order British furniture to our UK address and have it shipped to Spain</p>
    </div>
  </div>
</div>

<div class="address-footer">
  <p><span style="font-size: 0.8em;">145 Courhil House, 60 Water Lane<br>Wilmslow, Cheshire, SK9 5AJ</span><br>
    Copyright 2012 - 2015 C&A EuroVanService Ltd.</p>
</div>
