<div class="container">
  <div class="contact-div">
    <p><span style="font-size: 2.2em;">Interested in using our service?</span></p>
    <p><span style="font-size: 1.8em;">Please phone or email our team for a free quote or to make a booking</span></p>
  </div>

  <div class="col-md-12 contact-div green-background">
    <div class="col-md-4">
      <div class="inner-contact">
        <p>UK Phone Number:<br>+44 07477428976</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner-contact">
        <p>Spanish Phone Number:<br>+34 630391327</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inner-contact">
        <p>Email Address:<br>enquiries@CandAEuroVanService.com</p>
      </div>
    </div>
  </div>

  <div class="col-md-12 divider-div">
  </div>

  <div class="col-md-12 contact-div">
    <p><span style="font-size: 1.4em;">Experiencing technical problems with our website or services?</span></p>
    <p><span style="font-size: 1.2em;">Please contact our support team</span></p>
  </div>
  <div class="col-md-6 col-md-offset-3 contact-div green-background">
    <div class="inner-contact col-md-8 col-md-offset-2">
      <p>Email Address:<br>support@CandAEuroVanService.com</p>
    </div>
  </div>

</div>
